Task: <input id="new_name" type="text" /> <select id="new_state">
    <option value="1"> Pending </option>
    <option value="2"> Hold </option>
    <option value="3"> Done </option>
</select>
<button type="button" onclick="send_event('todo','Add')">Add</button>
<div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Task</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody id="body_table_tasks">
            {{ range $key, $value := .Tasks }}
            <tr id="{{$key}}">
                <td>
                    <button type="button" onclick="send_event('todo','RemoveTask', '{{$key}}')">Remove</button>
                </td>
                <td> <input type="text" value="{{ $value.Name }}" id="name_{{$key}}"
                        onchange="send_event('todo','Change', '{{$key}}')" /></td>
                <td>
                    <select id="state_{{$key}}" onchange="send_event('todo','Change', '{{$key}}')">
                        <option value="1" {{if eqInt $value.State 1}} selected {{end}} > Pending </option>
                        <option value="2" {{if eqInt $value.State 2}} selected {{end}} > Hold </option>
                        <option value="3" {{if eqInt $value.State 3}} selected {{end}} > Done </option>
                    </select>
                </td>
                {{ end }}
        </tbody>
    </table>
</div>